{% load price_format %}
{% for product in products %}
<div class="card">
    {% with images=product.images.all %}
    <a href="{% url 'product_detail' product.slug %}">
        <div class="card_img_wrapper">
            {% for image in images %}
            <img class="card_img catalog_card_gallery_image" src="{{ image.image.url }}" alt="{{ image.alt_text|default:product.name }}" loading="lazy" decoding="async">
            {% endfor %}
        </div>
        <div class="card_name_wrapper">
            <h3 class="card_name">{{ product.name }}</h3>
        </div>
        <div class="card_price_wrapper">
            {% if product.discount_price %}
            <span class="card_price">${{ product.discount_price|price_display }}</span>
            <span class="card_price_non_sale">${{ product.price|price_display }}</span>
            {% else %}
            <span class="card_price">${{ product.price|price_display }}</span>
            {% endif %}
        </div>
    </a>
    {% endwith %}
</div>
{% empty %}
<p>No products found</p>
{% endfor %}
